[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.mypy]
files = ["."]
strict = true
pretty = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
